.Footer{
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.title{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 48, 45);
    font-size: 0.6rem;
    cursor: pointer;
    text-decoration: none;
}
.title:hover{
    color: rgb(0, 128, 119);
}